#productList{
    width: 80%;
    text-align: center;
    margin: auto;
    padding: 100px;
}

table {
    border-collapse: collapse;
    width: 60%;
    margin: auto;
    margin-bottom: 50px;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {background-color: #ffffff;}
tr:nth-child(odd) {background-color: #c4c4c4;}

button{
    background-color: rgb(126, 126, 126);
    color: #f2f2f2;
    margin: 5px;
}